
<my-tabs>

  <my-tab title="test 123">
    Today is a beautiful day!
    <div slot="footer">This is a footer!</div>
  </my-tab>


  <my-tab title="Page 1">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, ab. Fuga hic praesentium sint itaque ipsa
    sit, perferendis voluptatem, et commodi id totam, libero distinctio beatae. Tempore possimus adipisci
    saepe.Reiciendis enim, iste eos magnam, voluptatibus illo velit ipsa error id aliquid aut adipisci facilis
    laudantium maxime quia voluptas omnis odit hic at expedita, accusamus neque. Eum adipisci ut laboriosam?
    <div slot="footer">Some extra info</div>
  </my-tab>
  <my-tab title="Page 2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis dicta odio facilis? Et velit blanditiis nobis
    quae error corporis! Iure dolorum suscipit esse eligendi error voluptas unde harum adipisci saepe.Error debitis
    deserunt numquam possimus qui eveniet recusandae commodi? Totam dolorem commodi nobis numquam consequatur modi
    minima voluptatibus similique, eaque eligendi laudantium asperiores officia aut sit nihil! Neque, consequatur fuga.
    <div slot="footer">Some extra info</div>
  </my-tab>

</my-tabs>
